{% from 'macros.html' import danger, info %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="DNA variant interpretation, missense prediction, splicing prediction, MobiDetails, Mobidic bioinformatics, DNA mutation, variant frequency, variant pathogenicity" />
		<meta name="description" content="Online DNA variant interpretation" />
		<!--<meta name="twitter:dnt" content="on">-->
		<link rel="search" type="application/opensearchdescription+xml" title="search MobiDetails" href="{{ url_for('static', filename='mdbrowserengine.xml') }}">
		<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />-->
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/md.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/md.png') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='img/md.png') }}" type="image/x-icon">
		<script src="{{ url_for('static', filename='javascript/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/md.js') }}?20220705" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/jquery-ui.min.js') }}" type="text/javascript"></script>
		{% block more_head %}{% endblock %}
		<title>
		{% block title %}
			{% if external_data is defined %}
			{{ external_data.gene.RefSeqTranscript }}({{ external_data.gene.symbol }}):c.{{ internal_data.nomenclatures.cName }}
			{% endif %}
		{% endblock %} - MobiDetails</title>
	</head>
	<!--<body onload="show_loader();">-->
	<body>
		<div id="loader"></div>
		<div class="w3-medium" id="header">
			<div class="w3-top" style="z-index:1112;">
				<!--scrollbar-->
				<div class="w3-white" id="scroll">
					<div class="w3-blue" id="scroll-bar" style="height:4px;width:0%">
					</div>
				</div>
				<!--navbar-->
				<div class="w3-bar w3-card-2 w3-black" id="mdNavBar">
					<!--home, about-->
					<div class="w3-dropdown-hover">
						<span class="w3-button w3-ripple w3-xlarge w3-black" onclick="show_loader();window.location='{{ url_for('md.index') }}';" title="MobiDetails homepage">
							<i class="fa fa-home w3-xxlarge"></i>
						</span>
						<div class="w3-dropdown-content w3-bar-block w3-card-4">
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('md.about') }}';">About</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('upload.file_upload') }}';">Batch Variants Annotation</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('md.changelog') }}';">Change log</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='/MDAPI/';">Swagger API</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="window.open('https://github.com/beboche/MobiDetails/discussions');"><i class="fa fa-github w3-large"></i>&nbsp;Discussions</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="window.open('https://github.com/beboche/MobiDetails/issues?q=is%3Aissue');"><i class="fa fa-github w3-large"></i>&nbsp;Issues</span>
						</div>
					</div>
					<!--about-->
					<!--<div class="w3-dropdown-hover">-->
					<!--	<span class="w3-bar-item w3-button w3-ripple w3-xlarge" onclick="window.location='{{ url_for('md.about') }}';" title="About Mobidetails">-->
					<!--		<i class="fa fa-sticky-note-o w3-xxlarge"></i>-->
					<!--	</span>-->
					<!--</div>-->
					<!--all genes-->
					<div class="w3-dropdown-hover">
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" onclick="$('#loader').show();$('#content').hide();window.location='{{ url_for('md.genes') }}';" title="Show all genes">
							<i class="fa fa-ioxhost w3-xxlarge"></i>
						</span>
					</div>
					{# for variant page #}
					{% if external_data is defined %}
					<!--left menu-->
					<div>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" id="openNav" onclick="w3_open()" style="visibility:hidden" title="Open the menu of useful external links">
							<i class="fa fa-bars w3-xxlarge"></i>
						</span>
					</div>
					<!--export tables as pdf-->
					<div>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" id="ExportPdf" title="Export the tables as pdf file">
							<i class="fa fa-file-pdf-o w3-xxlarge"></i>
						</span>
					</div>
					<!--page title-->
					<div>
						<span class="w3-bar-item w3-xlarge" id="variant_name">{{ external_data.gene.RefSeqTranscript }}(<em>{{ external_data.gene.symbol }}</em>):c.{{ internal_data.nomenclatures.cName }}</span>
					</div>
					<div>
						{% if g.user and favourite == True %}
							<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="favour_star" style="display:block;" title="This variant is marked as one of your favourites.">
						{% else %}
							<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="favour_star" style="display:none;" title="This variant is marked as one of your favourites.">
						{% endif %}
							<i class="fa fa-star-o w3-xxlarge"></i>
						</span>
					</div>
					{#{% else %}#}
						<!--<span class="w3-bar-item w3-xlarge" id="app_desc">Online DNA Variants Interpretation</span>-->
					{% endif %}
					<!--auth-->
					<div>
						{% if g.user %}
						<!--profile-->
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" id="logout" onclick="show_loader();window.location='{{ url_for('auth.logout') }}';" title="Log out">
							<i class="fa fa-user-times w3-xxlarge"></i>
						</span>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" id="myprofile" onclick="show_loader();window.location='{{ url_for('auth.profile', mobiuser_id=0) }}';" title="Visit your page">
							<i class="fa fa-id-card-o w3-xxlarge"></i>
						</span>
						<span class="w3-bar-item w3-xlarge w3-right" id="login_name">Logged in as {{ g.user.username }}</span>
						{% else %}
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" onclick="show_loader();window.location='{{ url_for('auth.register') }}';" title="Register">
							<i class="fa fa fa-user-plus w3-xxlarge"></i>
						</span>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" onclick="show_loader();window.location='{{ url_for('auth.login') }}';" title="Log in">
							<i class="fa fa fa-user w3-xxlarge"></i>
						</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<br/><br id="second_br"/><br id="third_br"/>
		<header align="center">
			{% block header %}{% endblock %}
		</header>
		{% if run_mode and run_mode == 'maintenance' %}
		<br />
		<div class="w3-margin w3-panel w3-leftbar w3-display-container w3-pale-red">
			<p><strong><i class="fa fa fa-cogs w3-xxlarge"></i> MobiDetails is currrently in maintenance mode, which means that you cannot annotate new variants, or classifiy existing ones as well as register, modify your preferences or your password. Sorry for the inconvenience. You can still browse existing variants, gene pages and so on.</strong></p>
		</div>
		{% endif %}
		{% for category, message in get_flashed_messages(with_categories=true) %}
			{% autoescape false %}
				{% if message|match_multiline('.+w3-display-container') %}
				{{ message }}
				{% else %}
				<br />
				<div class="w3-margin w3-panel w3-leftbar w3-display-container {{ category }}">
					<span class="w3-button w3-ripple w3-display-topright w3-large" onclick="this.parentElement.style.display='none'">X</span>
					<p><strong>{{ message }}</strong></p>
				</div>
				{% endif %}
			{% endautoescape %}
		{% endfor %}
		<br />
		{# {{ info("October, 16th, LitVar service has been restored.") }} #}
		{# {{ info("From April, 8th, afternoon GMT+2 to April, 11th, morning the service remained unreachable due to a technical issue beyond our control. The full service is now restored.") }} #}
		{{ danger("IMPORTANT NOTICE:<br /> Due to a planned power outage, MobiDetails won't be available from 8 to 10 am, GMT+2, on Wednesday, July 27th. Sorry for the short notice.") }}
		{# {{ danger("IMPORTANT NOTICE:<br /> MobiDetails will be unavailable on Thursday, June 30th, from 12 to 14, GMT+2, due to a network maintenance. We apologise for any inconvenience.") }} #}
		{#{{ danger("IMPORTANT NOTICE:<br /> Another important security improvement has been applied on the web server (2020/04/09). If you see an error page mentioning 'tokens', please close all MobiDetails tabs then just empty your <a href='https://www.wikihow.com/Clear-Your-Browser%27s-Cache#' target='_blank'>browser's cache</a> and come back to the site. The configuration should now be stable. Sorry for the inconvenience.") }}#}
		<div id="content">{% block content %}{% endblock %}</div>
		<!--footer-->
		<div id="footer">
			<div class="w3-bottom" style="z-index:1112">
				<div class="w3-bar w3-card-2 w3-black" id="mdNavBarBot">
					<!--search engine-->
					<form method="post" action="{{ url_for('md.search_engine') }}" enctype="application/x-www-form-urlencoded" id="search_form" onsubmit="$('#submit_a').prop('disabled', true);show_loader();">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<div class="w3-row-padding">
							<div class="w3-half w3-right-align">
								<input autofocus="autofocus" class="w3-input w3-border w3-xlarge w3-mobile" id="engine" maxlength="60" name="search" placeholder=" Ask MobiDetails:" size="30" style="width:250px;display:inline;" type="text"/>
							</div>
							<div class="w3-quarter">
								<span onclick="$('#search_form').submit();" class="w3-button w3-bar-item w3-large"><i class="fa fa-search w3-xxlarge"></i></span>
								<!--<input class="w3-button w3-white w3-large w3-border w3-mobile" id="submit_a" type="submit" value="Submit" />-->
							</div>
						</div>
					</form>
					<!--autocomplete-->
					<script type="text/javascript">
						$('#engine').autocomplete({
							source: function(request, response){
								// var req_encoded = request.term;
								// req_encoded = req_encoded.replace(/>/g,"%3E");
								//send header for flask-wtf crsf security
								var csrf_token = "{{ csrf_token() }}";
								$.ajaxSetup({
									beforeSend: function(xhr, settings) {
										if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
											xhr.setRequestHeader("X-CSRFToken", csrf_token);
										}
									}
								});
								$.ajax({
									url: '{{ url_for('ajax.autocomplete') }}',
									dataType: 'json',
									method: 'POST',
									data: {
										query_engine: request.term
									},
									success: response
								});
							},
							minLength: 2,
							position: {
								my: 'bottom',
								at: 'top'
							}
						});
						//$('#search_form').submit(function(event) {
						//	var inter = $('#engine').val();
						//	$('#engine').val(encodeURIComponent(inter));
						//	return true;
						//});
					</script>
				</div>
			</div>
		</div>
	</body>
</html>
