{% from 'macros.html' import danger, info, fa %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="DNA variant interpretation, missense prediction, splicing prediction, MobiDetails, Mobidic bioinformatics, DNA mutation, variant frequency, variant pathogenicity" />
		<meta name="description" content="Online DNA variant interpretation" />
		<!--<meta name="twitter:dnt" content="on">-->
		<link rel="search" type="application/opensearchdescription+xml" title="search MobiDetails" href="{{ url_for('static', filename='mdbrowserengine.xml') }}">
		<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />-->
		{# full path example for static ressources #}
		{# <link rel="stylesheet" href="http://{{ SERVER_NAME }}/static/styles/w3.css" type="text/css"> #}
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/md.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/cookieconsent.min.css') }}" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/md.png') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='img/md.png') }}" type="image/x-icon">
		<script src="{{ url_for('static', filename='javascript/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/md.js') }}?20230807" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/jquery-ui.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/sweetalert2.all.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='javascript/cookieconsent.min.js') }}" type="text/javascript"></script>
		{% block more_head %}{% endblock %}
		<title>
		{% block title %}
			{% if external_data is defined %}
			{{ external_data.gene.RefSeqTranscript }}({{ external_data.gene.symbol }}):c.{{ internal_data.nomenclatures.cName }}
			{% endif %}
		{% endblock %} - MobiDetails</title>
	</head>
	<!--<body onload="show_loader();">-->
	<body>
		<div id="loader"></div>
		<div class="w3-medium" id="header">
			<div class="w3-top" style="z-index:600;">
				<!--scrollbar-->
				<div class="w3-white" id="scroll">
					<div class="w3-blue" id="scroll-bar" style="height:4px;width:0%">
					</div>
				</div>
				<!--navbar-->
				<div class="w3-bar w3-card-2 {% if config['SESSION_COOKIE_NAME'] == 'MDDevWebSession' %}w3-grey{% elif config['SESSION_COOKIE_NAME'] == 'MDStageWebSession' %}w3-dark-grey{% else %}w3-black{% endif %}" id="mdNavBar">
					<!--home, about-->
					<div class="w3-dropdown-hover">
						<span class="w3-button w3-ripple w3-xlarge w3-black" onclick="show_loader();window.location='{{ url_for('md.index') }}';" title="MobiDetails homepage">
							{{ fa('home') }}
							<!-- <i class="fa fa-home w3-xxlarge"></i> -->
						</span>
						<div class="w3-dropdown-content w3-bar-block w3-card-4">
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('md.about') }}';">About</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('upload.file_upload') }}';">Batch Variants Annotation</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='{{ url_for('md.changelog') }}';">Change log</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="show_loader();window.location='/MDAPI/';">Swagger API</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="window.open('https://github.com/vidboda/MobiDetails/discussions');">
								{{ fa('github', w3_class="large") }}Discussions</span>
							<span class="w3-button w3-bar-item w3-ripple w3-large" onclick="window.open('https://github.com/vidboda/MobiDetails/issues?q=is%3Aissue');">{{ fa('github', w3_class="large") }}
								<!-- <i class="fa fa-github w3-large"></i>&nbsp; -->
								Issues</span>
						</div>
					</div>
					<!--all genes-->
					<div class="w3-dropdown-hover">
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" onclick="$('#loader').show();$('#content').hide();window.location='{{ url_for('md.genes') }}';" title="Show all genes">
							{{ fa('ioxhost') }}
						</span>
					</div>
					{# for variant page #}
					{% if external_data is defined %}
					<!--left menu-->
					<div>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" id="openNav" onclick="w3_open()" style="visibility:hidden" title="Open the menu of useful external links">
							{{ fa('bars') }}
						</span>
					</div>
					<!--export tables as pdf-->
					<div>
						<span class="w3-bar-item w3-button w3-ripple w3-xlarge" id="ExportPdf" title="Export the tables as pdf file">
							{{ fa('file-pdf-o') }}
						</span>
					</div>
					<!--page title-->
					<div>
						<span class="w3-bar-item w3-xlarge" id="variant_name">{{ external_data.gene.RefSeqTranscript }}(<em>{{ external_data.gene.symbol }}</em>):c.{{ internal_data.nomenclatures.cName }}</span>
					</div>
					{% endif %}
					{% if g.user %}
					<!--star for favourites variants-->
					<div>
						{% if favourite is defined and (favourite.type == 1 or favourite.type == 3) %}
						<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="favour_star" style="display:block;" title="This variant is one of your favourites">
						{% else %}
						<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="favour_star" style="display:none;" title="This variant is one of your favourites">
						{% endif %}
						{{ fa('star') }}
						</span>						
					</div>
					<!--heart for clinvar watch variants-->
					<div>
						{% if favourite is defined and (favourite.type == 2 or favourite.type == 3) %}
						<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="clinvar_watch_heart" style="display:block;" title="This variant is one of your ClinVar watch list">
						{% else %}
						<span class="w3-bar-item w3-ripple w3-xlarge star_fav" id="clinvar_watch_heart" style="display:none;" title="This variant is one of your ClinVar watch list">
						{% endif %}
						{{ fa('heart') }}
						</span>
					</div>
					<!--auth-->
					<div>
					<!--profile-->
					<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" id="logout" onclick="show_loader();window.location='{{ url_for('auth.logout') }}';" title="Log out">
						{{ fa('user-times') }}
					</span>
					<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" id="myprofile" onclick="show_loader();window.location='{{ url_for('auth.profile', mobiuser_id=0) }}';" title="Visit your page">
						{{ fa('id-card-o') }}
					</span>
					<span class="w3-bar-item w3-xlarge w3-right" id="login_name">Logged in as {{ g.user.username }}</span>
					</div>
					{% else %}
					<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" onclick="show_loader();window.location='{{ url_for('auth.register') }}';" title="Register">
						{{ fa('user-plus') }}
					</span>
					<span class="w3-bar-item w3-button w3-ripple w3-xlarge w3-right" onclick="show_loader();window.location='{{ url_for('auth.login') }}';" title="Log in">
						{{ fa('user') }}
					</span>
					{% endif %}
				</div>
			</div>
		</div>
		<br/><br id="second_br"/><br id="third_br"/>
		<header align="center">
			{% block header %}{% endblock %}
		</header>
		{% if run_mode and run_mode == 'maintenance' %}
		<br />
		<div class="w3-margin w3-panel w3-leftbar w3-display-container w3-pale-red">
			<p><strong>{{ fa('cogs') }}</i> MobiDetails is currrently in maintenance mode, which means that you cannot annotate new variants, or classifiy existing ones as well as register, modify your preferences or your password. Sorry for the inconvenience. You can still browse existing variants, gene pages and so on.</strong></p>
		</div>
		{% endif %}
		{% for category, message in get_flashed_messages(with_categories=true) %}
			{% autoescape false %}
				{% if message|match_multiline('.+w3-display-container') %}
				{{ message }}
				{% else %}
				<br />
				<div class="w3-margin w3-panel w3-leftbar w3-display-container {{ category }}">
					<span class="w3-button w3-ripple w3-display-topright w3-large" onclick="this.parentElement.style.display='none'">X</span>
					<p><strong>{{ message }}</strong></p>
				</div>
				{% endif %}
			{% endautoescape %}
		{% endfor %}
		<br />
		<!--https://www.osano.com/cookieconsent/documentation/javascript-api/-->
		<script>
			window.cookieconsent.initialise({
			"palette": {
				"popup": {
				"background": "#edeff5",
				"text": "#838391"
				},
				"button": {
				"background": "#4b81e8"
				}
			},
			cookie: {
				name: "cookie_consent_md",
				domain: "{{ request.path.split('/')[0] }}"
			},
			"revokable": true,
			"theme": "classic",
			"position": "bottom-right",
			"content": {
				"message": "This website uses cookies to ensure you the best experience. However, they are strictly functional cookies. In addition, you agree that the software is provided 'as is', without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software of the use or other dealings in the software.",
				"href": "{{ url_for('md.about') }}#privacy_policy"
			}
			});
		</script>
		{{ danger("IMPORTANT NOTICE:<br /> MobiDetails home will soon change. The new URL will be displayed here on each page and on our <a href='https://mastodon.online/@MoBiDiC_bioinfo' target='_blank'>mastodon account</a> as soon as possible. Stay tuned!") }}
		{# {{ danger("IMPORTANT NOTICE:<br /> Due to a (yet another) planned power outage, MobiDetails won't be available from 7:45 to 10 am, GMT+2, on Tuesday, April 11th. In addition, the SpliceAI-visual feature wil be shut down shortly before and restored shortly after.") }} #}
		{# {{ danger("IMPORTANT NOTICE:<br /> MobiDetails will be shut down from Monday, Frebruary, 13 around 17:30 Paris time (GMT+1) to Tuesday morning between 9:00 and 10:00 due to an intervention on the electrical network of the building.") }} #}
		{# {{ danger("IMPORTANT NOTICE:<br /> The SpliceAI-visual service is back! However due to major power instability in the building this service will be shut down from Friday November, 18, 17h Paris time to Monday morning, November 21.") }} #}
		{# {{ danger("IMPORTANT NOTICE:<br /> The SpliceAI-visual service is temporarily down. Sorry for the inconvenience. We're working on restoring it asap.") }} # }}
		{# {{ info("October, 16th, LitVar service has been restored.") }} #}
		{# {{ info("From April, 8th, afternoon GMT+2 to April, 11th, morning the service remained unreachable due to a technical issue beyond our control. The full service is now restored.") }} #}
		{# {{ danger("IMPORTANT NOTICE:<br /> Due to a planned power outage, MobiDetails won't be available from 7:45 to 10 am, GMT+2, on Wednesday, July 27th. Sorry for the short notice. In addition the SpliceAI-visual feature will be shut down on Tuesday, July 26th from 17-18 pm to the end of the power outage.") }} #}
		{# {{ danger("IMPORTANT NOTICE:<br /> MobiDetails will be unavailable on Thursday, June 30th, from 12 to 14, GMT+2, due to a network maintenance. We apologise for any inconvenience.") }} #}
		{#{{ danger("IMPORTANT NOTICE:<br /> Another important security improvement has been applied on the web server (2020/04/09). If you see an error page mentioning 'tokens', please close all MobiDetails tabs then just empty your <a href='https://www.wikihow.com/Clear-Your-Browser%27s-Cache#' target='_blank' rel='noopener noreferrer'>browser's cache</a> and come back to the site. The configuration should now be stable. Sorry for the inconvenience.") }}#}
		
		<div id="content">{% block content %}{% endblock %}</div>
		<!--footer-->
		<div id="footer">
			<div class="w3-bottom" style="z-index:129">
				<div class="w3-bar w3-card w3-black" id="mdNavBarBot">
					<!--search engine-->
					<form method="post" action="{{ url_for('md.search_engine') }}" enctype="application/x-www-form-urlencoded" id="search_form" onsubmit="show_loader();">
						<div class="w3-content w3-border w3-border-black" style="width:370px; max-width:100%">
							<div style="display:flex;flex-direction:row;padding:0px;">
								<div style="padding-right:16px;opacity: 0.65;"><span class="w3-xxlarge w3-opacity-min w3-hover-opacity" style="cursor:pointer" onclick="open_help_engine()"><i class="fa fa-question-circle"></i></span></div>
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<input autofocus class="engine w3-input w3-border-0 w3-xlarge" type="text" name="search" id="engine" placeholder="Ask MobiDetails" style="border-radius:0px 0px 0px 0px;">
								<button id="submit_a" type="submit" value="Submit" onclick="$('#search_form').submit();" class="submit_search w3-border-0 w3-black w3-hover-gray w3-xlarge" style="width:58px;border-radius:0px 0px 0px 0px;cursor:pointer"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</form>
					<!--autocomplete-->
					<script type="text/javascript">
						$('.engine').autocomplete({
							source: function(request, response){
								// var req_encoded = request.term;
								// req_encoded = req_encoded.replace(/>/g,"%3E");
								// send header for flask-wtf crsf security
								var csrf_token = "{{ csrf_token() }}";
								$.ajaxSetup({
									beforeSend: function(xhr, settings) {
										if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
											xhr.setRequestHeader("X-CSRFToken", csrf_token);
										}
									}
								});
								$.ajax({
									url: '{{ url_for('ajax.autocomplete') }}',
									dataType: 'json',
									method: 'POST',
									data: {
										query_engine: request.term
									},
									success: response
								});
							},
							minLength: 2,
							position: {
								my: 'bottom',
								at: 'top'
							}
						});
						//$('#search_form').submit(function(event) {
						//	var inter = $('#engine').val();
						//	$('#engine').val(encodeURIComponent(inter));
						//	return true;
						//});
						function open_help_engine() {
							Swal.fire({
								width: 800,
								title: 'Search engine help',
								html: "<span class='w3-small w3-left-align'><p>The search engine has two main functions:</p>" +
									"<ul><li><strong>Retrieve pre-existing annotations</strong> - already added by users."+
									"<ul><li>by exact HGVS c. or p. (allowing variations), e.g. 'p.Arg34Ter', 'p.Arg34*', 'c.100C&gt;T', 'c.100c&gt;t'...</li>"+
									"<li>by exact HGVS genomic nomenclature (hg19 or hg38), e.g. 'chr1:g.216595579G&gt;A' or 'NC_000001.10:g.216595579G&gt;A'</li>"+
									"<li>a partial number match on HGVS c. or p. variant names, e.g. '229' would return all variants with 229 in c. name or p. name</li>"+
									"<li>you can also use a decorator '%' with numbers to look for exact matches, e.g. '%2299' would return variants that contain 2299 in c. name or p. name, but not 22991, for example</li>"+
									"<li>gene symbol, e.g. 'USH2A', including HGNC previous symbols and HGNC aliases</li>"+
									"<li>dbSNP rs identifier, e.g. 'rs863225293'</li>"+
									"<li>1-216422237-G-A, pseudo VCF expression (default hg38), or hg19-1-216595579-G-A, hg38:1:216422237:G:A, separator being ':', '_' or '-'. Genome version supports GRCh37, GRCh38, hg19, hg38, case insensitive.</li>"+
									"<li>the keyword 'last' will return all variants annotated during the last 7 days</li>"+
									"</ul><br></li><li><strong>Annotate new variants</strong> using the following formats:<ul>"+
									"<li>NC_000001.11:g.216422237G&gt;A;USH2A - e.g. strict HGVS genomic (hg38/hg19) + ';' + HGNC gene symbol</li>"+
									"<li>NM_206933.2:c.100C&gt;T or NM_206933.2(USH2A):c.100C&gt;T</li>"+
									"<li>rs772808534 (can take up to 30-40s)</li>"+
									"<li>1-216422237-G-A, pseudo VCF expression (default hg38), or hg19-1-216595579-G-A, hg38:1:216422237:G:A, separator being ':', '_' or '-'. Genome version supports GRCh37, GRCh38, hg19, hg38, case insensitive.</li></ul></li></ul></p>",
							})
						}
					</script>
				</div>
			</div>
		</div>
	</body>
</html>
