<!--jinja macro input-->
{% macro input(name, type='text', value=None, id=name, placeholder=name) -%}
	{% if value is not none %}
	<input type="{{ type }}" class="w3-input w3-border" name="{{ name }}" id="{{ id }}" required="required" placeholder="{{ placeholder|capitalize }}" value="{{ value }}"/>
	{% else %}
	<input type="{{ type }}" class="w3-input w3-border" name="{{ name }}" id="{{ id }}" required="required" placeholder="{{ placeholder|capitalize }}"/>
	{% endif %}
{%- endmacro %}
<!--for fa in forms-->
{% macro fa(name, size='50px', w3_class='xxlarge') -%}
	<div class="w3-col" style="width:{{ size }}"><i class="w3-{{ w3_class }} fa fa-{{ name }}"></i></div>
{%- endmacro %}
<!--info panel -->
{% macro info() -%}
	{% autoescape false %}
	<div class="w3-margin w3-panel w3-sand w3-leftbar">
		<p>
			{% for text in varargs %}
				<span>{{ text }}</span><br />
			{% endfor %}
		</p>
	</div>
	{% endautoescape %}
{%- endmacro %}
<!--success panel -->
{% macro success() -%}
	{% autoescape false %}
	<div class="w3-margin w3-panel w3-teal w3-leftbar">
		<p>
			{% for text in varargs %}
				<span>{{ text }}</span><br />
			{% endfor %}
		</p>
	</div>
	{% endautoescape %}
{%- endmacro %}
<!--danger panel -->
{% macro danger() -%}
	{% autoescape false %}
		<div class="w3-margin w3-panel w3-pale-red w3-leftbar w3-display-container">
			<span class="w3-button w3-ripple w3-display-topright w3-large" onclick="this.parentElement.style.display='none';">X</span>
			<p>
				{% for text in varargs %}
					<strong>{{ text }}</strong><br />
				{% endfor %}
			</p>
		</div>
	{% endautoescape %}
{%- endmacro %}
{# for variant page #}
{% macro section_title(id, content) -%}
	<div class="w3-text-orange w3-margin w3-panel w3-sand w3-leftbar">
		<h3 id="{{ id }}">{{ content }}</h3>
	</div>
{%- endmacro %}
{% macro section_subtitle(id, content) -%}
	<div class="w3-text-orange w3-margin w3-panel w3-sand w3-leftbar">
		<h5 id="{{ id }}">{{ content }}</h5>
	</div>
{%- endmacro %}
{# not needed anymore
{% macro danger_variable(text, variable='', other_variable='') -%}
	{% autoescape false %}
		<div class="w3-margin w3-panel w3-pale-red w3-leftbar w3-display-container">
			<span class="w3-button w3-ripple w3-display-topright w3-large" onclick="this.parentElement.style.display='none'">X</span>
			<p><strong>{{ text }} '{{ variable }}'</strong></p><p>{{ other_variable }}</p>
		</div>
	{% endautoescape %}
{%- endmacro %}
#}
<!--highlight gnoamd oe values-->
{% macro gnomad_oe(avg, max) -%}
	{% if avg != 'NA' and avg|float <= 0.35 %}
		<td class="w3-orange">
	{% elif max != 'NA' and max|float <= 0.35 %}
		<td class="w3-red">
	{% else %}
		<td>
	{% endif %}
{%- endmacro %}
<!--gene external sites-->
{% macro gene_redirection(gene_symbol, max_prot_size, clingen_criteria_specification_id, uniprot_id, oncokb_info, urls) -%}
	<div class="w3-modal w3-animate-opacity" id="gene_modal" style="z-index:1000;">
		<div class="w3-modal-content w3-card-4 w3-display-middle w3-animate-opacity w3-mobile" style="width:500px;">
			<div class="w3-container w3-blue">
				<span class="w3-button w3-display-topright w3-xlarge" onclick="document.getElementById('gene_modal').style.display='none'">&times;</span>
				<br /><span class="w3-xlarge" id="main_text">Choose your destination:</span><br />
			</div>
			<div class="w3-container">
				<ul class="w3-ul w3-padding-small w3-hoverable">
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.gnomad }}gene/{{ gene_symbol }}?dataset=gnomad_r2_1', '_blank', 'noopener,noreferrer')">gnomADv2</span> /
						<span class="w3-button" onclick="window.open('{{ urls.gnomad }}gene/{{ gene_symbol }}?dataset=gnomad_r3', '_blank', 'noopener,noreferrer')">gnomADv3 browser</span>
					</li>
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.ncbi_gene }}{{ gene_symbol }}', '_blank')">NCBI gene</span>
					</li>
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.omim }}search/?index=entry&amp;start=1&amp;limit=10&amp;search={{ gene_symbol }}&amp;sort=score+desc%2C+prefix_sort+desc', '_blank', 'noopener,noreferrer')">OMIM</span>
					</li>
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.ucsc_hg19 }}{{ gene_symbol }}&amp;hgt.positionInput={{ gene_symbol }}&amp;hgt.suggestTrack=knownGene&amp;Submit=submit', '_blank', 'noopener,noreferrer')">UCSC (hg19)</span> /
						<span class="w3-button" onclick="window.open('{{ urls.ucsc_hg38 }}{{ gene_symbol }}&amp;hgt.positionInput={{ gene_symbol }}&amp;hgt.suggestTrack=knownGene&amp;Submit=submit', '_blank', 'noopener,noreferrer')">UCSC (hg38)</span>
					</li>
					<!-- <li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.marrvel }}{{ hgnc_id }}', '_blank', 'noopener,noreferrer')">MARRVEL</span>
					</li> -->
					<li class="w3-padding-small">
						<span class="w3-padding" id="panelapp">Searching for PanelApp entity... <i class="fa fa-spinner w3-spin" style="font-size:24px"></i></span>
					</li>
					{% if max_prot_size and max_prot_size < 2700 %}
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.alphafold }}entry/{{ uniprot_id }}', '_blank', 'noopener,noreferrer')">AlphaFold</span>
					</li>
					{% elif not max_prot_size %}
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.alphafold }}entry/{{ uniprot_id }}', '_blank', 'noopener,noreferrer')">AlphaFold</span>
					</li>
					{% endif %}
					{% if clingen_criteria_specification_id %}
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.clingen_gene_spec_web }}doc/{{ clingen_criteria_specification_id }}', '_blank', 'noopener,noreferrer')">ClinGen ACMG specific rules for <em>{{ gene_symbol }}</em> </span>
					</li>
					{% endif %}
					{% if oncokb_info.is_oncogene or oncokb_info.is_tumor_suppressor %}
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ urls.oncokb }}gene/{{ gene_symbol }}', '_blank', 'noopener,noreferrer')">OncoKB</span>
					</li>
					{% endif %}
					<li class="w3-padding-small">
						<span class="w3-button" onclick="window.open('{{ url_for('md.gene', gene_symbol=gene_symbol) }}', '_self')">MD Gene page</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			panelapp('{{ url_for('ajax.is_panelapp_entity') }}', '{{ gene_symbol }}', '{{ csrf_token() }}');
		});
	</script>
{%- endmacro %}
<!--create variant-->
{% macro create_variant(gene, main_iso, num_iso, res) -%}
	{% if main_iso.variant_creation == 'ok' or main_iso.variant_creation == 'hg19_mapping_default' %}
		<input type="button"  value="Run a new variant!" onclick="document.getElementById('var_modal').style.display='block';$('#creation_form :input').prop('disabled', false);$('#new_variant').val('c.')" class="w3-button w3-ripple w3-blue w3-border w3-border-blue" id="add_var"/>
		<div class="w3-modal w3-animate-opacity" id="var_modal" style="z-index:1000">
			<div class="w3-modal-content w3-card-4 w3-display-middle w3-animate-opacity w3-mobile">
				<div class="w3-container w3-blue">
					<span class="w3-button w3-display-topright w3-xlarge" onclick="document.getElementById('var_modal').style.display='none'">&times;</span>
					<br /><span class="w3-xlarge" id="main_text">Run a variant ({{ main_iso.refseq }})
					{% if num_iso > 1 %}
						<span onclick="new_isoform();" class="w3-button w3-sand" id="alt_span">Choose an isoform</span>
					{% endif %}
					</span><br />
				</div>
				<div class="w3-container">
					<form method="post" action="#" enctype="application/x-www-form-urlencoded" class="u2_form" id="creation_form">
						<input for="creation_form" id="gene" name="gene" type="hidden" value="{{ gene }}" />
						<input for="creation_form" id="acc_no" name="acc_no" type="hidden" value="{{ main_iso.refseq }}" />
						<div class="w3-panel w3-large w3-row-padding" id="new_var_div">
							<div class="w3-third">
								<label for="new_variantblue">New variant (HGVS DNA):</label>
							</div>
							<div class="w3-third">
								<input  for="creation_form" id="new_variant" maxlength="100" name="new_variant" size="20" type="text" value="c." style="position:relative;"/>
							</div>
							<!--autocomplete-->
							<style>
								.ui-autocomplete {
									z-index:1001;
								}
							</style>
							<script type="text/javascript">
								$('#new_variant').autocomplete({
									source : function(request, response){
										//send header for flask-wtf crsf security
										var csrf_token = "{{ csrf_token() }}";
										$.ajaxSetup({
											beforeSend: function(xhr, settings) {
												if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
													xhr.setRequestHeader("X-CSRFToken", csrf_token);
												}
											}
										});
										$.ajax({
											url : '{{ url_for('ajax.autocomplete_var') }}',
											dataType : 'json',
											method: 'POST',
											appendTo: '#new_variant',
											data: {
												query_engine: request.term,
												acc_no: $("#alt_iso").val() ? $("#alt_iso").val() : '{{ main_iso.refseq }}'
											},
											success: response
										});
									},
									minLength: 4
								});
							</script>
							<div class="w3-third w3-text-red" id="error_name"></div>
						</div>
						{% if num_iso > 1 %}
							<div class="w3-panel w3-large" id ="iso_form" style="display:none;">
									<select  for="creation_form" name="alt_iso" id="alt_iso" class="w3-select">
										<option value="" selected="selected" disabled="disabled">Select an isoform</option>
										<option value="{{ main_iso.refseq }}" >{{ main_iso.refseq }}</option>
										{% for iso in res %}
											{% if iso.refseq != main_iso.refseq %}
												{% if iso.variant_creation == 'ok' or iso.variant_creation == 'hg19_mapping_default' %}
													<option value="{{ iso.refseq }}">{{ iso.refseq }}</option>
												{% else %}
													<option value="{{ iso.refseq }}" disabled="disabled">{{ iso.refseq }} - disabled ({{ iso.variant_creation|replace('_', ' ') }})</option>
												{% endif %}
											{% endif %}
										{% endfor %}
									</select>
								<!--</div>-->
							</div>
						{% endif %}
						<div class="w3-panel">
							<p>Running a variant means mainly generating HGVS nomenclatures via <a href="https://variantvalidator.org/" target = "_blank">VariantValidator</a> and creating the entry in the database. Then the variant is available forever in MobiDetails.</p>
						</div>
						<div class="w3-panel w3-large w3-center">
							<input type="button" id="submit_btn" name="submit" value="Launch annotation!" onclick="create_var('{{ url_for('ajax.create') }}', '{{ csrf_token() }}');" class="w3-btn w3-blue" for="creation_form"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% else %}
		{{ danger('<br/>Sorry, this gene is currently not available for variant annotation in MobiDetails due to hg38 mapping issues.') }}
	{% endif %}
{%- endmacro %}
{% macro info_create_variant() -%}
	<div class="w3-button w3-ripple w3-blue w3-border w3-border-blue w3-xxlarge w3-right" id="help_btn" onclick="document.getElementById('help_modal').style.display='block';$('#creation_form :input').prop('disabled', false);$('#new_variant').val('c.')">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</div>
	<div class="w3-modal w3-animate-opacity" id="help_modal" style="z-index:1000">
		<div class="w3-modal-content w3-card-4 w3-display-middle w3-animate-opacity w3-mobile">
			<header class="w3-container w3-blue">
				<span class="w3-button w3-display-topright w3-xlarge" onclick="document.getElementById('help_modal').style.display='none';">&times;</span>
				<br /><span class="w3-xlarge">Variant policy</span><br />
			</header>
			<div class="w3-container">
					<p>To annotate a new variant, you need to fill in the form with the HGVS 'c.' nomenclature. <strong>By default, the canonical isoform is selected</strong>.</p>
					<p>If your gene of interest has several isoforms in MobiDetails, please consider to use the canonical to create your variant.
					If you select an alternative isoform, MobiDetails will in addition try to annotate the variant on the canonical isoform. <strong>Both annotations may be available.</strong></p>
					<p>In the 'Get variants' tab, variants are shown attached to their isoform.</p>
			</div>
		</div>
	</div>
{%- endmacro %}
<!--js to close modals by cliking out of scope-->
{% macro modal_js() -%}
	<!--* {{ varargs }} -->
	<script>
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			{% for modal_div in varargs %}
				if ($('#{{ modal_div }}').length && event.target == document.getElementById('{{ modal_div }}')) {
					$('#{{ modal_div }}').hide();
				}
			{% endfor %}
		}
	</script>
{%- endmacro %}
<!--create div for variants per gene view-->
{% macro var_class_div(div_id, div_name) -%}
	<div class="w3-container w3-animate-opacity" id="{{ div_id }}" style="display:none">
		<p><span>{{ div_name }} variants recorded: </span>
		<ul class="w3-ul w3-hoverable w3-center" style="width:50%">
{%- endmacro %}
{% macro vars_class_table(div_id, div_name) -%}
	<div class="w3-container w3-animate-opacity w3-responsive" id="{{ div_id }}" style="display:none;">
		<table class="w3-table w3-striped w3-bordered w3-centered" id="{{ div_id }}_table">
			<caption>{{ div_name }} variants recorded: </caption>
			<thead>
				<tr>
					<th class="w3-left-align">HGVS DNA</th>
					<th class="w3-left-align">HGVS protein</th>
					<th class="w3-left-align">Segment type</th>
					<th class="w3-left-align">Segment number</th>
					<th class="w3-left-align">Creation date</th>
					<th class="w3-left-align">Creation user</th>
				</tr>
			</thead>
			<tbody>
{%- endmacro %}
<!-- not used because is displayed before the table in vars-->
{% macro vars_tr(variant) -%}
	{{ "<tr class='w3-hover-sand'><td><a href='%s' target='_blank'>%s:c.%s</a></td><td>p.(%s)</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td></tr>"|format(url_for('api.variant', variant_id=variant.id, caller='browser'), variant.gene_symbol, variant.c_name, variant.p_name, variant.start_segment_type, variant.start_segment_number, variant.creation_date, variant.username) }}
{%- endmacro %}
<!--create links for variants view-->
{% macro link(link, text) -%}
	<!-- for some reason jinja (2.10) urlencode filter does not encode this link and returns a wrong url-->
	<a class="w3-bar-item w3-button w3-large w3-hover-blue w3-border-bottom" href="{{ link | replace('+', '%2B') | replace('\n', '%0A') }}" target="_blank" rel="noopener noreferrer">{{ text }}</a>
{%- endmacro %}
<!--create span with color for predictors-->
{% macro span_color(value, color = None) %}
	{% if color is defined %}
		<span style="color:{{ color }};">{{ value }}</span>
	{% else %}
		<span >{{ value }}</span>
	{% endif %}
{% endmacro %}
{% macro search_engine_manual() %}
	{{ info("<p id='search_engine'><strong>Search engine:</strong><br /> \
	The search engine has two main functions:</p> \
	<ul> \
		<li><strong>Retrieve pre-existing annotations</strong> - already added by users.\
			<ul> \
				<li>by exact HGVS c. or p. (allowing variations), e.g. 'p.Arg34Ter', 'p.Arg34*', 'c.100C>T', 'c.100c>t'...</li> \
				<li>by exact HGVS genomic nomenclature (hg19 or hg38), e.g. 'chr1:g.216595579G>A' or 'NC_000001.10:g.216595579G>A'<li> \
				a partial number match on HGVS c. or p. variant names, e.g. '229' would return all variants with 229 in c. name or p. name</li> \
				<li>you can also use a decorator '%' with numbers to look for exact matches, e.g. '%2299' would return variants that contain 2299 in c. name or p. name, but not 22991, for example</li> \
				<li>gene symbol, e.g. 'USH2A', including HGNC previous symbols and HGNC aliases</li> \
				<li>dbSNP rs identifier, e.g. 'rs863225293'</li> \
				<li>1-216422237-G-A, pseudo VCF expression (default hg38), or hg19-1-216595579-G-A, hg38:1:216422237:G:A, separator being ':', '_' or '-'. Genome version supports GRCh37, GRCh38, hg19, hg38, case insensitive.</li> \
				<li>the keyword 'last' will return all variants annotated during the last 7 days</li> \
			</ul> \
		</li> \
		<li><strong>Annotate new variants</strong> using the following formats: \
			<ul> \
				<li>NC_000001.11:g.216422237G>A;USH2A - e.g. strict HGVS genomic (hg38/hg19) + ';' + HGNC gene symbol</li> \
				<li>NM_206933.2:c.100C>T or NM_206933.2(USH2A):c.100C>T</li> \
				<li>rs772808534 (can take up to 10-15s)</li> \
				<li>1-216422237-G-A, pseudo VCF expression (default hg38), or hg19-1-216595579-G-A, hg38:1:216422237:G:A, separator being ':', '_' or '-'. Genome version supports GRCh37, GRCh38, hg19, hg38, case insensitive.</li> \
			</ul> \
		</li> \
	</ul>") }}
{% endmacro %}
{% macro field_copied_tag() %}
<div class="w3-tag w3-round w3-grey" style="padding:2px">
	<div class="w3-tag w3-round w3-grey w3-border w3-border-white">
		Field copied!
	</div>
</div>
{% endmacro %}