{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block more_header %}
	<script src="/static/javascript/md.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
	<div class="w3-button w3-block w3-blue" onclick="accord('whatyouwillget');">
	<h1>What you will get with MobiDetails</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="whatyouwillget" style="display:none">
	<img src="/static/img/MD1.png" width="80%" />
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('whatyouneed');">
	<h1>What you need to run MobiDetails</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="whatyouneed" style="display:none">
	<span>Internet, a web browser, a gene and a variant of interest (HGVS c. nomenclature) or a VCF like nomenclature. That's all.</span>
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('video1');">
	<h1>Check out the general video tutorial</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="video1" style="display:none">
	<video controls = 'controls' width = '60%' name = 'MD tutorial' src = '/static/videos/MD1.mp4'></video>
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('video2');">
	<h1>How to find relevant publications</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="video2" style="display:none">
	<video controls = 'controls' width = '60%' name = 'MD tutorial' src = '/static/videos/MD_pubmed.mp4'></video>
	</div>
{% endblock %}