{% extends "base.html" %}
{% block more_head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/datatables.min.css') }}">
	<script src="{{ url_for('static', filename='javascript/datatables.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='javascript/md_about.js') }}" type="text/javascript"></script>	
{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
	<div class="w3-button w3-block w3-blue" onclick="accord('whatyouwillget');">
		<h1>What you will get with MobiDetails</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="whatyouwillget" style="display:none">
		<img src="/static/img/MD1.png" width="80%" />
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('whatyouneed');">
		<h1>What you need to run MobiDetails</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="whatyouneed" style="display:none">
		<span>Internet, a web browser, a gene and a variant of interest (HGVS c. nomenclature) or a VCF like nomenclature. That's all.</span>
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('video1');">
		<h1>Check out the general video tutorial</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="video1" style="display:none">
		<video controls = 'controls' width = '60%' name = 'MD tutorial' src = '/static/videos/MD1.mp4'></video>
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('video2');">
		<h1>How to find relevant publications</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="video2" style="display:none">
		<video controls = 'controls' width = '60%' name = 'MD tutorial' src = '/static/videos/MD_pubmed.mp4'></video>
	</div>
	<div class="w3-button w3-block w3-blue" onclick="accord('res_versions');">
		<h1>External Resources Used by MobiDetails</h1>
	</div>
	<div class="w3-container w3-padding-64 w3-center" id="res_versions" style="display:none">
		<div class="w3-responsive w3-container">
			<table class="w3-table w3-centered display compact" style="width:90%" id="resource_table">
				<caption>Links and versions of external resources used in MD:</caption>
				<thead>
					<tr>
						<th class="w3-left-align">Resource</th>
						<th class="w3-left-align">Version</th>
					</tr>
				</thead>
				<tbody>
					{% for resource in local_files %}
						<tr>
							<td class="w3-left-align"><a href="{{ urls[local_files[resource][4]] }}" target="_blank" title="Visit dbscSNV">{{ local_files[resource][2] }}</a></td>
							<td class="w3-left-align">{{ local_files[resource][1] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>
	<br /><br />
{% endblock %}