{% extends "base.html" %}
{% from "macros.html" import info %}
{% block title %}Change log{% endblock %}
{% block content %}
	{# Different categories:
		-Minor: style canges, minor js, minor functionality (small impact on user)
		-Major: new page or functionality
		-New predictor: predictor added
		-New dataset
	#}
	<div class="w3-container">
		{{ info("[2020-05-13] - Minor : LOVD instances are now identified by their names when available.") }}
		{{ info("[2020-05-07] - Minor : Registering now requires an email activation.") }}
		{{ info("[2020-04-23] - New predictor : <ul><li>Added <a href='https://sites.google.com/site/clinpred/' target='_blank'>ClinPred</a> as a new missense predictor (<a href='https://www.ncbi.nlm.nih.gov/pubmed/?term=30220433' target='_blank'>paper</a>).</li><li>Some minor style changes</li></ul>") }}
	</div>
{% endblock %}