{% from 'macros.html' import danger, info %}
{% extends "base.html" %}
{% block more_head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/datatables.min.css') }}">
	<script src="{{ url_for('static', filename='javascript/datatables.min.js') }}" type="text/javascript"></script>	
{% endblock %}
{% block title %}All genes{% endblock %}
{% block header %}
	<h1 align="center" class="w3-text-blue">All genes table:</h1>
{% endblock %}
{% block content %}
	{{ info("Click on a link to go to the detailed page:") }}
	<div class="w3-responsive w3-margin">
		<table class="w3-table w3-striped w3-bordered w3-centered" id="gene_table">
			<caption>Genes table:</caption>
			<tr>
				<th class="w3-left-align">Genes</th>
				<th class="w3-left-align">Links</th>
				<th class="w3-left-align"></th>
			</tr>
			{% for gene_name in genes %}
				<tr>
					<td>{{ gene_name.hgnc }}</td>
					<td>Link1</td>
					<td>Link2</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<script>
		$(document).ready(function() {
			$('#gene_table').DataTable();
		} );
	</script>
{% endblock %}