{% from 'macros.html' import danger, info, search_engine_manual, fa %}
{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block more_head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/mastodon-timeline.css') }}" type="text/css">
	<script src="{{ url_for('static', filename='javascript/mastodon-timeline.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

	{# {{ danger('There is currently a bug that prevent some dbSNP rs ids to annotate variants. <br/> We are actively working on it. Please use HGVS expressions instead if you encounter this bug.') }} #}
	{% if vv_instance and vv_instance.variant_validator_instance == 'No VV running' %}
		{{ danger('There is currently no Variant Validator server usable to annotate the variants. it is then impossible to add new variants.') }}
	{% elif vv_instance and vv_instance.variant_validator_instance == 'Running our own emergency VV server' %}
		{{ danger('VariantValidator is currently running on our own emergency server which may be slower than genuine VV server.') }}
	{% endif %}
	<div class="w3-center w3-padding-16 w3-responsive">
		<img alt="MobiDetails" style="max-height:180px; max-width:100%" src="{{ url_for('static', filename='img/MobiDetails1.png') }}" /><br />
	</div>
	
	<div class="w3-center" style="margin: 64px 0 64px 0;">
		<form method="post" action="{{ url_for('md.search_engine') }}" enctype="application/x-www-form-urlencoded" id="search_form_index" onsubmit="show_loader();" >
			<div class="w3-content w3-padding" style="width:620px; max-width:100%">
				<div class="w3-row" style="padding-left:16px"><span class="w3-text-deep-orange w3-hover-text-blue" style="cursor:pointer" onclick="open_help_engine()"><i class="fa fa-question-circle"></i> Search engine</span></div>
				<div class="w3-border" style="border-radius:8px;display:flex;flex-direction:row;padding:0px;">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<input class="engine w3-input w3-border-0" type="text" name="search" id="engine_index" placeholder="Ask Mobidetails" style="border-radius:8px 0px 0px 8px;">
					<button onclick="$('#search_form_index').submit();" class="submit_search w3-border-0 w3-blue w3-hover-gray" style="border-radius:0px 8px 8px 0px;cursor:pointer"><i class="fa fa-search"></i> Search</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="w3-row">
		<div class="w3-col l8 m6 wR-row" id="informations">
			<div class="w3-panel w3-margin w3-sand w3-leftbar w3-display-container">
				<p><strong>MobiDetails is an annotation platform dedicated to the interpretation of DNA variations</strong>.<br />It currently annotates only genic variations (i.e. exonic or intronic). When a variant is annotated, it then aggregates information from multiple sources (see <a href='{{ url_for('md.about') }}'>about page</a>) including population frequencies, predictors, etc.<br /><!-- If your gene is not in the <a href='{{ url_for('md.genes') }}'>list</a>, you can request it by
					<script type="text/javascript">
					//<![CDATA[
					var d="";for(var i=0;i<473;i++)d+=String.fromCharCode((" j{)|F+e+e+Fon{q)jE01n}r{!7}wnv~lxmFon{q7|rq}e+F{n xn|~xv;;wx)e+5p8;81nljuyn{70Cx}urjv;0eeuyn{70|LLurjL}nmrkLLxv042e+e+d422:1{}|k~|7e+Le+5p8L81nlj1nljuyn{70bl{bb~br04f9dfe+7dfe+Ie+d422:1{}|k~|7e+Le+5p8b8E81nljuyn{70urEEEjEvEp04f9jqLvx{o7pwr{}\\42f9dfe+e+d5p8nljuyn{70vRxRRl042?=1nmxL{e+O0ee0422:1{}|k~|7e+ce+5p8R810eeFon{q7|rq}e+F}~xnO|~xvwx)O81nljuyn{70Gj8Eurjv6nGe+0ee22f9dfe+e+d5p8+DmF++Dox{1 j{)rF9DrE|7unwp}qDr4F;?2m4F|7|~k|}{1r5;?27|yur}1++27{n n{|n127sxrw1++2Dn ju1m2".charCodeAt(i)+54)%95+32);eval(d)
					//]]>
					</script>.<br /> --> MobiDetails is developed at Montpellier University Hospital (Laboratory of Molecular Genetics) and is <strong>free for academic use. Non-academic users must register, and should read <a href="{{ url_for('md.about', _anchor='non_academic') }}" target="_blank" rel="noopener noreferrer">this</a>.</strong></p>
				<p>MobiDetails also include an <a href="/MDAPI/" target="_blank" rel="noopener noreferrer">API</a> for programmatic access.</p>
			</div>
		<!-- <div class="w3-col l6"> -->
			<div class="w3-margin w3-panel w3-sand w3-leftbar">
				<ul>
					<li>Have a look at our <a href="{{ url_for('md.about', _anchor='contact') }}" target="_blank" rel="noopener noreferrer">e-posters!</a></li>
					<li>You can also <a href="https://rdcu.be/b92MG" target="_blank" rel="noopener noreferrer">read</a> MobiDetails paper in the <a href="https://www.nature.com/articles/s41431-020-00755-z" target="_blank" rel="noopener noreferrer">European Journal of Human Genetics</a>.</li>
					<li><strong>If you are using MobiDetails and/or SpliceAI-visual for your studies, please <a href="{{ url_for('md.about', _anchor='disclaimer') }}">cite</a> them!</strong></li>
				</ul>
				<p>Links for:</p>
				<ul>
					<li><a href="{{ url_for('md.about') }}" onclick="show_loader();">About page</a></li>
					<li><a href="{{ url_for('upload.file_upload') }}" onclick="show_loader();">Batch variant annotation</a></li>
					<li><a href="{{ url_for('md.changelog') }}" onclick="show_loader();">Change log</a></li>
					<li><a href="/MDAPI/" target="_blank" rel="noopener noreferrer">Swagger API</a></li>
				</ul>
			</div>
		</div>

		<div class="w3-col l4 m6" id="mastodon_feed" style="padding:16px">
			<!-- Thanks https://mastodon.online/@idotj for the widget https://gitlab.com/idotj/mastodon-embed-feed-timeline-->
			<div class="mt-timeline">
				<div id="mt-body" class="mt-body" role="feed">
					<div class="loading-spinner"></div>
				</div>
			</div>
		</div>

		<script>
			window.addEventListener("load", onLoadFunction);
			window.addEventListener("resize", onLoadFunction);
			function onLoadFunction(event){
				var h = Math.max(($(window).height()/2), 200);
				if ($(window).width() > 600) {
					h = (document.getElementById('informations').offsetHeight -0);
				}
				$('#mastodon_feed').css( "height", h + "px" )
			};
		</script>
	</div>

	<div class="w3-content w3-row w3-center" style="margin-bottom:54px;margin-top:16px;display:flex;flex-flow:row wrap;align-items:center;justify-content:center;">
		<a href="http://www.chu-montpellier.fr/en/patients-and-visitors/" target="_blank" title="Montpellier University Hospital" rel="noopener noreferrer">
			<img src="{{ url_for('static', filename='img/logo_CHU.svg') }}" alt="CHU Montpellier" width="300" class="test w3-padding" style="width:300px;max-width:50%;vertical-align:middle;margin:5px 10px 5px 0;padding:10px;"/>
		</a>
		<a href="https://www.inserm.fr/" target="_blank" title="INSERM" rel="noopener noreferrer">
			<img src="{{ url_for('static', filename='img/logo-inserm.svg') }}" alt="INSERM" width="350" class="test w3-padding" style="width:350px;max-width:50%;vertical-align:middle;margin:5px 10px 5px 0;padding:10px;"/>
		</a>
		<a href="https://pmmg.iurc.montp.inserm.fr/mobidic/" target="_blank" title="MOntpellier BIoinformatique pour le DIagnotic Clinique" rel="noopener noreferrer">
			<img src="{{ url_for('static', filename='img/logo-mobidic.svg') }}" alt="MoBiDiC - Montpellier Bioinformatics Diagnostic" width="350" class="test w3-padding" style="width:350px;max-width:50%;vertical-align:middle;margin:5px 10px 5px 0;padding:10px;"/>
		</a>
		<!-- <a href="https://www.umontpellier.fr/university-of-montpellier" target="_blank" title="Montpellier University" rel="noopener noreferrer">
			<img src="{{ url_for('static', filename='img/logo_UM.svg') }}" alt="Université de Montpellier" width="150" class="test w3-padding" style="width:150px;max-width:50%;vertical-align: middle;margin: 5px 10px 5px 0;padding: 10px;"/>
		</a> -->
	</div>
	
	{# <!--https://www.osano.com/cookieconsent/documentation/javascript-api/-->
	<script>
		window.cookieconsent.initialise({
		  "palette": {
			"popup": {
			  "background": "#edeff5",
			  "text": "#838391"
			},
			"button": {
			  "background": "#4b81e8"
			}
		  },
		  cookie: {
			name: "cookie_consent_md",
			domain: "{{ request.path.split('/')[0] }}"
		  },
		  "revokable": true,
		  "theme": "classic",
		  "position": "bottom-right",
		  "content": {
			"message": "This website uses cookies to ensure you the best experience. However, they are strictly functional cookies. In addition, you agree that the software is provided 'as is', without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software of the use or other dealings in the software",
			"href": "{{ url_for('md.about') }}#privacy_policy"
		  }
		});
	</script> #}
{% endblock %}
