{% from 'macros.html' import danger, info %}
{% extends "base.html" %}
{% block title %} MD Variants page {% endblock %}
{% block header %}
	<h1 align="center" class="w3-text-blue">Query results:</h1>
{% endblock %}
{% block content %}
{% if variants is defined %}
	{% if variants[0].creation_date is defined%}
		{{ info("Below the variants annotated during the last 7 days:") }}
	{% else %}
		{{ info("Your query returned multiple results:") }}
	{% endif %}
	<div class="w3-container w3-padding-32 w3-margin w3-mobile" id="multiple_vars">
		<ul  class="w3-ul">
		{% for var in variants %}
			<li class="w3-padding-large w3-large w3-light-grey w3-hover-blue var_li" onclick="window.open('{{ url_for('md.variant', variant_id=var.id) }}')" title="Visit the variant page"><span><em>{{ var.gene_name[0] }}</em> - {{ "%s:c.%s - p.(%s)"|format(var.gene_name[1], var.c_name, var.p_name) }}</span>
			{% if var.creation_date is defined%}
				<span class="w3-right">{{ var.username }} - {{ var.creation_date }}</span>
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
{% elif upload is defined %}
	{{ info("Your batch file submission returned the following results:") }}
	<div class="w3-container w3-padding-32 w3-margin w3-mobile" id="multiple_vars">
		<ul  class="w3-ul">
		{% for var in upload %}
			{% if var.id is defined %}
			 <li class="w3-padding-large w3-large w3-pale-green w3-hover-blue var_li" onclick="window.open('{{ url_for('md.variant', variant_id=var.id) }}')" title="Visit the variant page"><span></span><em>{{ var.variant }}</em></span></li>
			{% else %}
				<li class="w3-padding-large w3-large w3-pale-red w3-hover-blue"><span>{{ var.variant }}: returned an error: '{{ var.error }}'</span></li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
{% else %}
	{{ info("Your rs id submission returned multiple results:") }}
	<div class="w3-container w3-padding-32 w3-margin w3-mobile" id="multiple_vars">
		<ul  class="w3-ul">
		{% for var in vars_rs %}
			{% if vars_rs[var].mobidetails_id is defined %}
			 <li class="w3-padding-large w3-large w3-pale-green w3-hover-blue var_li" onclick="window.open('{{ url_for('md.variant', variant_id=vars_rs[var].mobidetails_id) }}')" title="Visit the variant page"><span></span><em>{{ var }}</em></span></li>
			{% else %}
				<li class="w3-padding-large w3-large w3-pale-red w3-hover-blue"><span>{{ var }}: returned an error: '{{ vars_rs[var].mobidetails_error }}'</span></li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
{% endif %}
<br /><br />
{% endblock %}