{% extends "base.html" %}
{% from "macros.html" import info %}
{% block title %}VEPTC RNA workshop links{% endblock %}
{% block content %}
	<div class="w3-container w3-padding-64" id="links">
		{{ info("<p>You will find below links and variants descriptions useful for the RNA workshop:</p>
		<ul>
            <li>Web sites:
                <ul>
                    <li><a href='https://mobidetails.chu-montpellier.fr' target='_blank'>MobiDetails</a></li>
                    <li><a href='https://compbio.ccia.org.au/splicevardb' target='_blank'>SpliceVardb</a></li>
                    <li><a href='https://kidsneuro.shinyapps.io/splicevault' target='_blank'>SpliceVault</a></li>
                </ul>
            </li>
			<li>Variant 1:
                <ul>
                    <li>NM_000059.4:c.8332-2A>G</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/368237/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
			<li>Variant 2:
                <ul>
                    <li>NM_206933.4:c.7595-2144A>G</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/88947/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
			<li>Variant 3:
                <ul>
                    <li>NM_003688.3:c.172+1G>A</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/108605/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
		</ul>
		") }}
	</div>
{% endblock %}
