{% extends "base.html" %}
{% from "macros.html" import info %}
{% block title %}VEPTC RNA workshop links{% endblock %}
{% block content %}
	<div class="w3-container w3-padding-64" id="links">
		{{ info("<p>You will find below links and variants descriptions useful for the <strong>RNA workshop</strong>:</p>
		<ul>
            <li>Web sites:
                <ul>
                    <li><a href='https://mobidetails.chu-montpellier.fr' target='_blank'>MobiDetails</a></li>
                    <li><a href='https://compbio.ccia.org.au/splicevardb' target='_blank'>SpliceVardb</a></li>
                    <li><a href='https://kidsneuro.shinyapps.io/splicevault' target='_blank'>SpliceVault</a></li>
                </ul>
            </li>
			<li>Variant 1:
                <ul>
                    <li>NM_000059.4:c.8332-2A>G</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/368237/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
			<li>Variant 2:
                <ul>
                    <li>NM_206933.4:c.7595-2144A>G</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/88947/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
			<li>Variant 3:
                <ul>
                    <li>NM_003688.3:c.172+1G>A</li>
                    <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/108605/browser/#splicing' target='_blank'>MobiDetails direct link</a></li>
                </ul>
            </li>
		</ul>
        <p>And below some links useful for the <strong>MobiDetails workshop</strong>:
            <ul>
                <li>Splicing analyses:
                    <ul>
                        <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/306831/browser/#splicing' target='_blank'>NM_022124.6:c.1096G>A (CDH23)</a></li>
                        <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/461262/browser/#splicing' target='_blank'>NM_022124.6:c.5187G>T (CDH23)</a></li>
                        <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/366380/browser/#splicing' target='_blank'>NM_000070.3:c.1536+58C>A (CAPN3)</a></li>
                        <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/232936/browser/#splicing' target='_blank'>NM_000051.4:c.7515+2C>T (ATM)</a></li>
                    </ul>
                </li>
                <li>Structural analysis:
                    <ul>
                        <li><a href='https://mobidetails.chu-montpellier.fr/api/variant/374831/browser/#splicing' target='_blank'>NM_000249.4:c.244A>G (MLH1)</a></li>
                    </ul>
                </li>
            </ul>
        </p>
		") }}
	</div>
{% endblock %}
