# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# sql files
MobiDetailsApp/sql/

#videos
MobiDetailsApp/static/videos/
#img
#MobiDetailsApp/static/img/
#styles


MobiDetailsApp/static/defgen/
MobiDetailsApp/static/javascript/Chart.min.js
MobiDetailsApp/static/javascript/Chart.min.js.2.8.0.js
MobiDetailsApp/static/javascript/buttons.dataTables.min.css
.vscode/
MobiDetailsApp/static/img/._GitHub-Mark-120px-plus.png
MobiDetailsApp/static/img/CHU.txt
MobiDetailsApp/static/img/MobiDetails1.txt
MobiDetailsApp/static/img/watch_list_resized.gif
MobiDetailsApp/static/javascript/Chart.min.js
MobiDetailsApp/static/javascript/Chart.min.js.2.8.0.js
MobiDetailsApp/static/javascript/buttons.dataTables.min.css.old
MobiDetailsApp/static/javascript/buttons.html5.min.js
MobiDetailsApp/static/javascript/chart.min.4.3.0.js
MobiDetailsApp/static/javascript/chart.min.js
MobiDetailsApp/static/javascript/cookieconsent.min.js
MobiDetailsApp/static/javascript/dataTables.buttons.min.js
MobiDetailsApp/static/javascript/dataTables.responsive.min.js
MobiDetailsApp/static/javascript/datatables.1.11.5.min.js
MobiDetailsApp/static/javascript/datatables.1.11.5.nopdfmake.min.js
MobiDetailsApp/static/javascript/datatables.min.js
MobiDetailsApp/static/javascript/igv.2.15.5.min.js
MobiDetailsApp/static/javascript/dataTables.buttons.min.js.old
MobiDetailsApp/static/javascript/dataTables.responsive.min.js.old
MobiDetailsApp/static/javascript/datatables.1.10.18.min.js
MobiDetailsApp/static/javascript/datatables.1.11.5.min.js
MobiDetailsApp/static/javascript/datatables.1.11.5.nopdfmake.min.js
MobiDetailsApp/static/javascript/igv.2.10.0.min.js.old
MobiDetailsApp/static/javascript/igv.2.12.2.min.js
MobiDetailsApp/static/javascript/igv.2.12.6.min.js
MobiDetailsApp/static/javascript/igv.2.13.10.min.js
MobiDetailsApp/static/javascript/igv.2.13.11.min.js
MobiDetailsApp/static/javascript/igv.2.13.4.min.js
MobiDetailsApp/static/javascript/igv.2.15.0.min.js
MobiDetailsApp/static/javascript/igv.2.15.1.min.js
MobiDetailsApp/static/javascript/igv.2.15.5.min.js
MobiDetailsApp/static/javascript/igv.2.15.5.min.js.map
MobiDetailsApp/static/javascript/igv.2.15.8.min.js
MobiDetailsApp/static/javascript/igv.2.15.8.min.js.map
MobiDetailsApp/static/javascript/igv.min.js
MobiDetailsApp/static/javascript/igv.min.js.map
MobiDetailsApp/static/javascript/jquery-ui.min.js
MobiDetailsApp/static/javascript/jspdf.min.js
MobiDetailsApp/static/javascript/jszip.min.js
MobiDetailsApp/static/javascript/jquery-ui-1.12.1/
MobiDetailsApp/static/javascript/jquery-ui.min.js
MobiDetailsApp/static/javascript/jspdf.min.js.old
MobiDetailsApp/static/javascript/jszip.min.js.old
MobiDetailsApp/static/javascript/pdfmake.0.2.5.min.js.old
MobiDetailsApp/static/javascript/pdfmake.min.js
MobiDetailsApp/static/javascript/pdfmake.min.js.map
MobiDetailsApp/static/javascript/pdfmake/
MobiDetailsApp/static/javascript/sweetalert2.11.7.12.all.min.js
MobiDetailsApp/static/javascript/sweetalert2.all.min.js
MobiDetailsApp/static/resources
MobiDetailsApp/static/styles/DataTables-1.10.18/
MobiDetailsApp/static/styles/DataTables-1.11.5/
MobiDetailsApp/static/styles/cookieconsent.min.css
MobiDetailsApp/static/styles/css/
MobiDetailsApp/static/styles/datatables.1.11.5.min.css
MobiDetailsApp/static/styles/datatables.min.css
MobiDetailsApp/static/styles/images/
MobiDetailsApp/static/styles/jquery-ui.min.css
MobiDetailsApp/static/styles/js/
MobiDetailsApp/static/styles/responsive.dataTables.min.css
MobiDetailsApp/static/styles/sweetalert2.11.7.12.min.css
venv.bak20230706/
MobiDetailsApp/static/styles/datatables.1.10.18.min.css
MobiDetailsApp/static/styles/datatables.1.11.5.min.css
MobiDetailsApp/static/styles/jquery-ui.min.css
MobiDetailsApp/static/styles/responsive.dataTables.min.css
MobiDetailsApp/templates/md/test_igv.html
MobiDetailsApp/templates/md/variant_old.html
logs/
requirements.txt.versions
requirements_noversions.txt

