{% from 'macros.html' import input, fa, info %}
{% extends 'base.html' %}

{% block header %}
  <h1 align="center" class="w3-text-blue">{% block title %}Log In{% endblock %}</h1>
{% endblock %}
{% block more_head %}
	<script src="{{ url_for('static', filename='javascript/auth_login.js') }}" type="text/javascript"></script>	
{% endblock %}
{% block content %}
	{{ info("Please Log in if already registered and if you want to trace your variants. An account is also mandatory to use the API to use the batch variants capabilities of the API. However, for browsing the site, you do not require to log in.") }}
	<br />
	<div align = "center">
	<form method="post" action="{{ url_for('auth.login') }}" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-large" style="width:50%" id="login_form" enctype="application/x-www-form-urlencoded">
		{% if referrer_page != None %}
      <input type="hidden" name="referrer_page" value="{{ referrer_page }}" />
    {% endif %}
    <br />
    <span class="w3-xlarge">Please log in using your academic email address:</span><br/>
		<div class="w3-row w3-section">
			{{ fa('envelope-o') }}
			<div class="w3-rest">{{ input('email') }}</div>
		</div>
		<div class="w3-row w3-section"/>
			{{ fa('key') }}
			<div class="w3-rest">{{ input('password', 'password') }}</div>
		</div>
		<p class="w3-center">
			<input type="submit" id="sub" class="w3-button w3-section w3-blue w3-ripple" value="submit"/>
		</p>
	</form>
  </div>
  <br /><br />
  <br /><br />
   <!-- onclick="return check_login_form();"-->
{% endblock %}