{% extends "base.html" %}
{% from 'macros.html' import info %}
{% block title %} {{ mobiuser.username }} profile{% endblock %}
{% block header %}
	<h1 align="center" class="w3-text-blue">Your profile</h1>
{% endblock %}
{% block content %}
	<div class="w3-container w3-padding-32 w3-margin w3-mobile">
		<div class=" w3-card w3-mobile">
			<ul class="w3-ul">
				<li class="w3-padding-large w3-xlarge w3-light-grey w3-hover-blue">Username: {{ mobiuser.username }}</li>
				<li class="w3-padding-large w3-xlarge w3-light-grey w3-hover-blue">Institute: {{ mobiuser.institute }}</li>
				<li class="w3-padding-large w3-xlarge w3-light-grey w3-hover-blue">Country: {{ mobiuser.country }}</li>
				<li class="w3-padding-large w3-xlarge w3-light-grey w3-hover-blue" >E-mail: {{ mobiuser.email }}</li>
				<li class="w3-padding-large w3-xlarge w3-light-grey w3-hover-blue" >API key: <input id="api_key" type="text" value="{{ mobiuser.api_key }}" size="50" maxlength="43"/>&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="copy_text('api_key');" title="copy API key to clipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button></li>
			</ul>
		</div>
	</div>
	<hr />
	{% if variants_favourite != None %}
		<div class="w3-container w3-margin">
			<div class="w3-button w3-blue w3-hover-light-blue w3-block" onclick="$('#favourite_vars').fadeToggle();">
				<h3>Toggle your {{ num_var_fav }} favourite variants:</h3>
			</div>
		</div>
		<div class="w3-container w3-padding-32 w3-margin w3-mobile" id="favourite_vars" style="display:none;">
			<div class=" w3-card w3-mobile">
				<ul class="w3-ul">
					{% for var in variants_favourite %}
						<li class="w3-padding-large w3-large w3-light-grey w3-hover-blue var_li" onclick="window.open('{{ url_for('md.variant', variant_id=var.id) }}')" title="Visit the variant page"><span></span><em>{{ var.gene_name[0] }}</em>{{ ":c.%s - p.(%s)"|format(var.c_name, var.p_name) }}</span><span class="w3-right"><i class="fa fa-star w3-xxlarge"></i></span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% else %}
		<div class="w3-container w3-margin">
			<div class="w3-button w3-blue w3-hover-light-blue w3-block">
				<h3>You have no favourite variants yet.</h3>			
			</div>
			{{ info("To mark a variant as favourite, visit a variant's page then click on the star on the left menu") }}
		</div>
	{% endif %}
	<hr />
	{% if variants != None %}
		<div class="w3-container w3-margin">
			<div class="w3-button w3-blue w3-hover-light-blue w3-block" onclick="$('#created_vars').fadeToggle();">
				<h3>Toggle the {{ num_var }} variants you created:</h3>
			</div>
		</div>
		<div class="w3-container w3-padding-32 w3-margin w3-mobile" id="created_vars" style="display:none;">
			<div class=" w3-card w3-mobile">
				<ul class="w3-ul">
					{% for var in variants %}
						<li class="w3-padding-large w3-large w3-light-grey w3-hover-blue var_li" onclick="window.open('{{ url_for('md.variant', variant_id=var.id) }}')" title="Visit the variant page"><span></span><em>{{ var.gene_name[0] }}</em>{{ ":c.%s - p.(%s)"|format(var.c_name, var.p_name) }}</span><span class="w3-right">{{ var.creation_date }}</span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% else %}
		<div class="w3-container w3-margin">
			<div class="w3-button w3-blue w3-hover-light-blue w3-block">
				<h3>You have not created a variant yet.</h3>
				{{ info("To create a variant, get the variant HGVS transcript nomenclature c. and visit a gene page. Then click on a 'create variant' button.") }}
			</div>
		</div>
	{% endif %}
	<br /><br />
{% endblock %}