{% from 'macros.html' import input, fa, info, danger %}
{% extends 'base.html' %}

{% block header %}
  <h1 class="w3-text-blue w3-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block more_head %}
	<script src="{{ url_for('static', filename='javascript/auth_register.js') }}?20230425" type="text/javascript"></script>
{% endblock %}
{% block content %}
	<div id="onsubmiterror" class="w3-margin w3-panel w3-pale-red w3-leftbar w3-display-container"></div>
	{{ danger("Authentication involves cookies, however, they are strictly functional cookies.<br />By registering, you agree that MobiDetails will store some kind of personal data (username and email address). These data will not be used for any commercial purpose neither be transmitted to any organism. Their usage is strictly restricted to MobiDetails internal operation.") }}
	{{ info("Registering currently is useful to keep track of the variants you annotated. It also allows you to mark some variants as favourites, add an ACMG class to variants, contact other users, be contacted if you agree... An account is also mandatory to use the batch variants capabilities of the API. However, for browsing the site, you do not require to log in (except if you are a <a href='%s#non_academic'>non-academic</a> user).") | format(url_for('md.about')) }}
	<br />
	<div align = "center">
		<form method="post" action="{{ url_for('auth.register') }}" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-large" style="width:50%" id="register_form"  enctype="application/x-www-form-urlencoded" onsubmit="$('#onsubmitinfo').html('<p>Please wait while your data is being checked.</p>');return check_register_form();">
			<!-- $('#sub').attr('disabled', 'disabled');$('html').css('cursor', 'progress');$('.w3-button').css('cursor', 'progress');show_loader(); -->
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
       <!--onsubmit="encode_params('username');encode_params('password');encode_params('country');encode_params('institute');encode_params('email');"-->
			<span class="w3-xlarge">Please register using your academic email address if possible (in the <strong>email</strong> field):</span><br/>
			<div class="w3-row w3-section" title="Username">
				{{ fa('user') }}
				<div class="w3-rest">{{ input('username', value=prev_username) }}</div>
			</div>
			<div class="w3-row w3-section" title="Password">
				{{ fa('key') }}
				<div class="w3-rest">{{ input('password', type='password') }}</div>
			</div>
			<div class="w3-row w3-section" title="Country">
				{{ fa('globe') }}
				<div class="w3-rest"><select class="w3-select w3-border" name="country" id="country">
					<option value="--">--</option>
          {% for country in countries %}
            <option value="{{ country }}">{{ country }}</option>
          {% endfor %}
				</select></div>
				<!--<div class="w3-rest">{{ input('country') }}</div>-->
			</div>
			<div class="w3-row w3-section" title="Institution">
				{{ fa('hospital-o') }}
				<div class="w3-rest">{{ input('institute', value=prev_institute) }}</div>
			</div>
			<div class="w3-row w3-section" title="Email">
				{{ fa('envelope-o') }}
				<div class="w3-rest">{{ input('email', value=prev_email) }}</div>
			</div>
      <div class="w3-row w3-section" title="Academic status">
				{{ fa('graduation-cap') }}
				<div class="w3-rest">
          <input type="radio" id="academic" name="acad" value="academic" checked="checked">
          <label for="academic">Academic</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" id="non_academic" name="acad" value="non_academic">
          <label for="non_academic">Non academic</label><br>
        </div>
			</div>
			<p class="w3-center">
				<input type="submit" id="sub" class="w3-button w3-section w3-blue w3-ripple" value="submit"/>
			</p>
		</form>
	</div>
  <br /><br />
  <div id="onsubmitinfo" class="w3-margin w3-panel w3-sand w3-leftbar w3-display-container"></div>
  <br /><br />
   <!--onclick="return check_register_form();"-->
{% endblock %}
