{% from 'macros.html' import input, fa, info %}
{% extends 'base.html' %}
{% block header %}
  <h1 align="center" class="w3-text-blue">{% block title %}Batch file upload{% endblock %}</h1>
{% endblock %}
{% block content %}
	{{ info("<p>This form will allow you to upload a text file containing multiple variant descriptions. Please add one variant per line. Descriptions must be either of the 2 forms:</p><ul><li>NM_206933.2:c.2276G>T</li><li>i.e. RefSeq_accession_number.version:hgvs_cDNA_nomenclature</li></ul>Or<ul><li>NC_000001.11:g.40817273T>G;KCNQ4</li><li>i.e. NCBI_chromosome:hgvs_genomic_nomenclature;hgnc_gene_name - <strong>hg38 only</strong></li></ul><p>Mixed forms are allowed, as well as blank and comment lines. Comment lines begin with a #.<br /><strong>File extension must be '.txt'</strong>. If you are logged in while submitting, you will receive an email when the job is done.") }}
  <div class="w3-margin w3-panel w3-sand w3-leftbar w3-display-container">
    <span class="w3-button w3-ripple w3-display-topright w3-large" onclick="this.parentElement.style.display='none';">X</span>
    <p>File upload is limited to 3ko (80-90 variants, around 15 minutes treatment) due to the annotation time (several seconds per variant).<br /> If you need to annotate more variants at once, check the <a href='https://github.com/beboche/MDUtils' target='_blank'>MDUtils package</a> at github, and the associated <a href='https://github.com/beboche/MobiDetails/wiki/Batch-variants-creation' target='_blank'>documentation</a>, or send us an
    <script type="text/javascript">
    //<![CDATA[
    var d="";for(var i=0;i<473;i++)d+=String.fromCharCode((" j{)|F+e+e+Fon{q)jE01n}r{!7}wnv~lxmFon{q7|rq}e+F{n xn|~xv;;wx)e+5p8;81nljuyn{70Cx}urjv;0eeuyn{70|LLurjL}nmrkLLxv042e+e+d422:1{}|k~|7e+Le+5p8L81nlj1nljuyn{70bl{bb~br04f9dfe+7dfe+Ie+d422:1{}|k~|7e+Le+5p8b8E81nljuyn{70urEEEjEvEp04f9jqLvx{o7pwr{}\\42f9dfe+e+d5p8nljuyn{70vRxRRl042?=1nmxL{e+O0ee0422:1{}|k~|7e+ce+5p8R810eeFon{q7|rq}e+F}~xnO|~xvwx)O81nljuyn{70Gj8Eurjv6nGe+0ee22f9dfe+e+d5p8+DmF++Dox{1 j{)rF9DrE|7unwp}qDr4F;?2m4F|7|~k|}{1r5;?27|yur}1++27{n n{|n127sxrw1++2Dn ju1m2".charCodeAt(i)+54)%95+32);eval(d);
    //]]>
    </script>.</p>
  </div>
	<div align = "center">
	<form method="post" action="{{ url_for('upload.file_upload') }}" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-large" style="width:60%" id="login_form" enctype="multipart/form-data" onsubmit="$('#sub').attr('disabled', 'disabled');$('html').css('cursor', 'progress');$('.w3-button').css('cursor', 'progress');show_loader();">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br />
    <span class="w3-xlarge">Please select the file you wish to submit to MobiDetails annotation:</span><br/>
		<div class="w3-row w3-section">
			{{ fa('file-text-o') }}
			<div class="w3-rest">{{ input('file', 'file') }}</div>
		</div>
		<p class="w3-center">
			<input type="submit" id="sub" class="w3-button w3-section w3-blue w3-ripple" value="submit"/>
		</p>
	</form>
  </div>
  <br /><br />
  <br /><br />
{% endblock %}