{% extends "base.html" %}
{% block title %} 500 Error {% endblock %}
{% block content %}
	<div class="w3-container w3-padding-64">
		<h1>An unexpected error has occurred</h1>
		<!--<p>The administrator has been notified. Sorry for the inconvenience!</p>-->
		<p>Sorry for the inconvenience!</p>
		<p>This is very likely a bug, please report ideally as a <a href="https://github.com/beboche/MobiDetails/issues" target="_blank" title="report the error on github">github</a> issue , explaining how you got the error, or directly at &#100;&#097;&#118;&#105;&#100;&#046;&#098;&#097;&#117;&#120;&#064;&#105;&#110;&#115;&#101;&#114;&#109;&#046;&#102;&#114;</p>
		<p>I'll do my best to fix it as soon as possible.</p>
		<p class="classname"></p><a href="{{ url_for('index') }}" onclick="show_loader();">Home</a></p>
	</div>
	<div class="w3-container w3-padding-64 w3-center">
		<p class="w3-text-blue w3-xxlarge">500... bug?</p>
        <img class="w3-image" alt="500" src="{{ url_for('static', filename='img/LogoMakr_whale_error.png') }}"
    </div>
{% endblock %}