{% from 'macros.html' import modal_js %}
<div class="w3-modal-content w3-display-middle w3-animate-opacity w3-mobile">
	<header class="w3-container w3-blue">
		<span class="w3-button w3-display-topright w3-xlarge" onclick="$('#defgen_modal_{{ genome }}').hide();">×</span>
		<h2>Export Variant data to DEFGEN ({{ genome }}):</h2>
	</header>
	<div class="w3-container">
		<p class="w3-large">
			<a href="{{ url_for('static', filename=defgen_file) }}">Download file for {{ variant }}</a>
		</p>
	<br><br></div>
</div>
{{ modal_js('defgen_modal_' +  genome) }}