{% from 'macros.html' import modal_js %}

{% set litvar_url = litvar_link if litvar_link is not none else "https://www.ncbi.nlm.nih.gov/research/litvar2/docsum?variant=litvar@" ~ rsid ~ "%23%23&query=" ~ rsid %}

<p><i>Full details and complete results available at <a href="{{ litvar_url }}" target="_blank" rel="noopener noreferrer">LitVar2</a>.</i></p>
{% if pubmed_count/400 > 1 %}
	<p id="intro_litvar">Preview of all results (400 on {{ pubmed_count }} citations) : </p>
{% else %}
	<p id="intro_litvar">All results ({{ pubmed_count }} citations) :</p>
{% endif %}
<div class="w3-container w3-border" style="max-height: 60vh;height: fit-content; overflow-y: auto;">
	<ul id="list_from_litvar2">
		{% for pubmedid in pmids|sort %}
			{% if pmids[pubmedid]['title'] %}
				<li><a href="{{ urls.ncbi_pubmed }}{{ pubmedid }}" target="_blank" title="{{ pmids[pubmedid]['title'] }}" rel="noopener noreferrer">{{ pmids[pubmedid]['author'] }} et al., {{ pmids[pubmedid]['year'] }} ({{ pmids[pubmedid]['journal'] }})</a>:<br /><em>{{ pmids[pubmedid]['title'] }}</em></li>
			{% else %}
				<li><a href="{{ urls.ncbi_pubmed }}{{ pubmedid }}" target="_blank" rel="noopener noreferrer">{{ pubmedid }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<div id = "hidden_litvarlink" style="display:none;">{{ litvar_url }}</div>
</div>
