<table class="w3-table w3-centered display compact" style="width:90%" id="spip_summary">
    <thead>
        <tr>
            <th class="w3-left-align">Features</th>
            <th class="w3-left-align" width="40%">Values</th>
            <th class="w3-left-align">Descriptions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w3-left-align">Interpretation</td>
            <td id="spip_interpretation" class="w3-left-align">{{ spip_results.Interpretation[0] }}</td>
            <td class="w3-left-align"><em class="w3-small">{{ spip_results.Interpretation[1] }}</em></td>
        </tr>
        <tr>
            <td class="w3-left-align">Risk</td>
            <td class="w3-left-align">{{ spip_results.Risk[0] }}</td>
            <td class="w3-left-align"><em class="w3-small">{{ spip_results.Risk[1] }}</em></td>
        </tr>
    </tbody>
</table><br />
{% if spip_results.Interpretation[0] != 'Not available' %}
  <div class="w3-row-padding">
  	<!--Display full spip results button -->
  	<div class="w3-col m4">
  		<span class="w3-button w3-blue w3-ripple w3-hover-light-blue w3-padding-16 w3-large" onclick="$('#spip_full').toggle();" title="Toggle full output of SPiP" style="width:100%">Toggle full SPiP results</span>
  	</div>
  </div>
  <table class="w3-table w3-centered display compact" style="width:90%;display:none;" id="spip_full">
      <thead>
          <tr>
              <th class="w3-left-align">Features</th>
              <th class="w3-left-align" width="40%">Values</th>
              <th class="w3-left-align">Descriptions</th>
          </tr>
      </thead>
      <tbody>
          {% for feature in spip_results %}
              {% if feature != 'Interpretation' and feature != 'Confidence' %}
                  <tr>
                      <td class="w3-left-align">{{ feature }}</td>
                      <td class="w3-left-align">{{ spip_results[feature][0] }}</td>
                      <td class="w3-left-align"><em class="w3-small">{{ spip_results[feature][1] }}</em></td>
                  </tr>
              {% endif %}
          {% endfor %}
      </tbody>
  </table>
{% endif %}
