a {
    color:#337AB7;
    text-decoration:none;
}
a:hover {
	color:#FF6020;
	/*font-style:italic;*/
}
.txt {
	font-family: monospace;
	font-size: 1.2em;
}
.var_li:hover {
	cursor: pointer;
}
/*a:visited {
	color:#F70F00;
    text-decoration:none;
}*/