a {
    color:#337AB7;
    text-decoration:none;
}
a:hover {
	color:#FF6020;
	/*font-style:italic;*/
}
.txt {
	font-family:monospace;
	font-size:1.2em;
}
.var_li:hover {
	cursor:pointer;
}
.star_fav {
	color:yellow;
	font-style:500%;
}
.star_color {
	color:#fdb81e;
}
/*a:visited {
	color:#F70F00;
    text-decoration:none;
}*/
.exonic_canvas {
	border:1px dotted;
	position:relative;
	left:0px;
    /*width: 100%;*/
	/*background-color:#F8FBEF;*/
}
#smart_menu {
    /*display:block;*/
    z-index:2001;
    width:15%;
    /*overflow-y:scroll;*/
    /*position:fixed;*/
}
/* Loader */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2196F3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.toots {
  min-width:100%!important;
}
#mastodon_feed {
  overflow: scroll;
}
/* @media screen and (min-width:600px){
  #mastodon_feed {
    max-height:50px;
  }
} */
#engine_index:focus, #engine:focus {
  outline: #2195f3bb solid 2px;
  outline-offset:-3px;
  background: aliceblue;
}
#engine_index, #engine {
  background:#ecf0f1;
  border:0px;
}

@media (max-height: 500px) {
  #litvar_content {
      max-height: 200px;
  }
}

@media (min-height: 501px) {
  #litvar_content {
      max-height: 40vh;
  }
}