a {
    color:#337AB7;
    text-decoration:none;
}
a:hover {
	color:#FF6020;
	/*font-style:italic;*/
}
.txt {
	font-family:monospace;
	font-size:1.2em;
}
.var_li:hover {
	cursor:pointer;
}
.star_fav {
	color:yellow;
	font-style:500%;
}
/*a:visited {
	color:#F70F00;
    text-decoration:none;
}*/
.exonic_canvas {
	border:1px dotted;
	position:relative;
	left:0px;
    /*width: 100%;*/
	/*background-color:#F8FBEF;*/
}
#smart_menu {
    /*display:block;*/
    z-index:2001;
    width:15%;
    /*overflow-y:scroll;*/
    /*position:fixed;*/
}